<ion-app>
  <ion-content color="dark">
    <!--hello name="{{ name }}"></hello>
    <p>Start editing to see some magic happen :)</p>
  
  
    <ion-button>GREAT IONIC BUTnTON</ion-button!-->
  
  
      <ion-header>
      <ion-toolbar color="dark">
        <ion-title>TeleFlix</ion-title>
      </ion-toolbar>
    </ion-header>
  
  
  
  
      <ion-img
  src="https://img.freepik.com/vetores-gratis/fundo-de-aquarela-grunge-de-carretel-de-tira-de-filme_1017-36655.jpg"
  alt="The Wisconsin State Capitol building in Madison, WI at night"
  ></ion-img>
  
  
  <ion-list>
  <ion-list-header color="dark">
  <ion-label color="light">informações da conta:</ion-label>
  </ion-list-header>
  <ion-item color="">
  <ion-label >user: DayDay06s</ion-label>
  </ion-item>
  <ion-item color="dark">
  <ion-label >email: dayvinho@gmail.com</ion-label>
  </ion-item>
  </ion-list>
  
  <ion-button color="light"  href="aaaaaa" >Fazer Login</ion-button>
  
  </ion-content>
  </ion-app>
